body {          
    background-color: black;    
 }
 textarea {
    display: flex;
    resize: none;
    align-self: center;
    height: 10px;
    justify-content: center;
  }
  .botao{
    color:white;
    background-color: green;

  }
  label{
    color: white;
    align-self: center;
  }
  body{
    display: flex;
    justify-content: center;
  }
  